In [3]:
print("hello8")

hello8

In [6]:
import pandas as pd

df = pd.read_csv("C:\\Users\\gunuk\\civil-ai-structural-monitoring\\week2\\Concrete_Data.csv")
df.head()

   Cement  Blast  Fly Ash  Water  Superplasticizer      CA     FA  Age    CMS
0   540.0    0.0      0.0  162.0               2.5  1040.0  676.0   28  79.99
1   540.0    0.0      0.0  162.0               2.5  1055.0  676.0   28  61.89
2   332.5  142.5      0.0  228.0               0.0   932.0  594.0  270  40.27
3   332.5  142.5      0.0  228.0               0.0   932.0  594.0  365  41.05
4   198.6  132.4      0.0  192.0               0.0   978.4  825.5  360  44.30